.env
server/.env
server/config/firebase.js
server/firebaseServiceKey.json
server/node_modules/
server/data/tag_embeddings_openai.json
node_modules/
structure.txt
server/data/tag_embeddings_openai.json
